@if(productRecords().length>0){

<table class="table table-hover">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-dark">
        @for (p of productRecords()|productFilter:filterText(); track $index) {
        <tr>
            <td>
                <img class="img-box" [src]="p.imageUrl" alt="NA" [title]="p.productName">
            </td>
            <td>{{p.productName|uppercase}}</td>
            <td>{{p.price|currency:'USD'}}</td>
            <td>{{p.starRating}}</td>
            <td>
                <button type="button" class="btn btn-danger rounded-edge">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>

}@else {
<span>No Products Found</span>
}